pydantic~=2.9.2
python-multipart
fastapi~=0.114.2
fire~=0.7.0
gunicorn
requests~=2.32.3
types-requests
uvicorn
aiosqlite
asyncpg~=0.30.0
redis
beautifulsoup4~=4.12.3
openpyxl
markdown
pypdf
python-pptx
python-docx
nest-asyncio
opencv-python
moviepy
tiktoken
sentence-transformers
vecs
litellm 
openai~=1.54.4
fsspec
posthog
sqlalchemy
ollama
neo4j~=5.26.0
black
codecov
flake8
isort
mypy
pre-commit
pytest~=8.3.3
pytest-asyncio
pytest-dependency
pytest-mock
pytest-cov
openai
langsmith
langchain~=0.3.7
langchain_community
langchain_openai
langchain_chroma
langsmith
langchain_experimental
langchain_core 
langchainhub
langgraph~=0.2.45
chromadb~=0.5.18
gitdb
duckdb
ulid-py
nltk
rank_bm25
thefuzz
faiss-cpu
urllib3
matplotlib
pillow
datasette 
datasette-faiss
datasketch




langchain-core~=0.3.16
langchain-openai~=0.2.7
Jinja2~=3.1.4
typing_extensions~=4.12.2
r2r~=3.2.41
python-dotenv~=1.0.1
pandas~=2.2.3
streamlit~=1.40.1